.main{
    width:100%;
    min-height:100vh;
    background:#1A2216;
    overflow:visible;
    position:relative;
}


.heroBg {
    background: url("../assets/heroPlant.png");
    position: relative;
}

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
}


.sectionTitle{
    text-align:center;
    font-size:52px;
    font-weight:600;
    margin-bottom:70px;
}

@media (max-width : 800px){

    .sectionTitle{
        font-size:36px;
        margin-bottom:40px;
    }
}