@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap');

.hero{
    width:100%;
    min-height:90vh;
    padding:100px 60px 40px; 
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
    position:relative;
}

.leftpart{
    flex:1;
    position:relative; 
}

.leftpart h1{
    font-size:66px; 
    line-height:1;
    font-weight:800;
    margin-bottom:20px; 
}

.leftpart p{
    width:70%;
    color:#cfcfcf;
    font-size:15px; 
    line-height:1.7;
    margin-bottom:28px; 
}

.textcontent{
    display:inline-block;
}

.herobtns{
    display:flex;
    align-items:center;
    gap:16px; 
}

.buybtn{
    padding:12px 32px; 
    font-family: "Poppins", sans-serif;
    border-radius:14px; 
    background:transparent;
    border:1px solid rgba(255, 255, 255, 0.923);
    color:white;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    transition:0.3s ease;
    backdrop-filter:blur(8px);
}

.buybtn:hover{
    transform:translateY(-2px);
    background:rgba(19, 74, 27, 0.573);
}

.demobtn{
    font-family:"Caveat", cursive;
    padding:10px 20px 10px 14px; 
    border-radius:50px;
    background:transparent;
    color:white;
    font-size:16px; 
    font-weight:500;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition:0.2s;
}

.demobtn:hover{
    background-color: grey;
    color: black;
}

.heroReviewcard {
    display:flex;
    align-items:center;
    gap:10px; 
    margin-top:36px; 
    background:rgba(255,255,255,0.07);
    border:1px solid rgba(255, 255, 255, 0.412);
    backdrop-filter:blur(2px);
    border-radius:14px; 
    padding:14px 18px; 
    max-width:280px; 
}

.pfp {
    width:40px; 
    height:40px;
    border-radius:50%;
    object-fit:cover;
    flex-shrink:0;
    align-self:flex-start;
}

.heroReviewcard h4 {
    font-size:14px; 
    font-weight:600;
    margin-bottom:4px;
}

.ratings {
    color:#f5a623;
    font-size:11px; 
    margin-bottom:6px; 
    display:flex;
    gap:2px;
}

.heroReviewcard p {
    font-size:11px; 
    color:#c0c0c0;
    line-height:1.6;
    width:100%;
    margin-bottom:0px;
}

.plantcard {
    display:flex;
    flex-direction:column;
    align-items:center;
    background:rgba(255,255,255,0.07);
    border:1px solid rgba(255, 255, 255, 0.412);
    backdrop-filter:blur(2px);
    border-radius: 50% 50% 18px 18px / 40px 40px 18px 18px;
    padding:16px 16px 14px; 
    width:320px;
    flex-shrink:0;
    align-self:flex-start;
    margin-top:60px; 
}

.PlantCardImg {
    width:280px; 
    height:280px;
    object-fit:contain;
    margin-bottom:14px;  
    margin-top:-60px;  
}

.plantcarddata {
    width:100%;
}

.PlantLabel {
    font-size:15px;  
    color:#a0a0a0;
    display:block;
    margin-bottom:4px;
    margin-left:22px;  
}

.plantcarddata h4 {
    font-size:22px;  
    font-weight:600;
    margin-bottom:12px;  
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-left:22px;  
}

.arrowIcon{
    color:white;
    cursor:pointer;
    transition:0.2s;
}

.arrowIcon:hover{
    color: grey;
}

.PlantBuyBtn {
    background:#20281C;
    border:1px solid rgba(255,255,255,0.2);
    margin-bottom:20px;  
    padding:12px 32px; 
    font-family: "Poppins", sans-serif;
    border-radius:14px;  
    border:1px solid rgba(255, 255, 255, 0.923);
    color:white;
    font-size:16px; 
    font-weight:500;
    cursor:pointer;
    transition:0.3s;
    backdrop-filter:blur(8px);
    margin-left:22px;  
}

.PlantBuyBtn:hover {
    background:rgba(16, 61, 23, 0.584);
}

.PlantDots {
    display:flex;
    gap:6px;
    justify-content:center;
}

.slide {
    width:8px;
    height:8px;
    border-radius:50%;
    background:rgba(255,255,255,0.25);
    margin-bottom:20px; 
}

.slide.slideDash {
    background:white;
    width:20px;
    border-radius:4px;
}

@media (max-width: 768px){

    .hero{
        flex-direction: column;
        padding:100px 20px 40px;
        gap:50px;
    }

    .leftpart h1{
        font-size:40px;  
        text-align:center;
    }

    .leftpart p{
        width:100%;
        text-align:center;
        font-size:14px;  
    }

    .herobtns{
        justify-content:center;
        flex-wrap:wrap;
    }

    .heroReviewcard{
        margin:auto;
        margin-top:32px;  
    }

    .plantcard{
        width:100%;
        margin-top:0;
    }

    .PlantCardImg{
        width:100%;
        height:240px;  
    }

    .plantcarddata h4{
        font-size:20px;  
    }
}