.navbar{
    width:100%;
    padding:14px 60px; 
    position:absolute; 
    top:0;
    left:0;
    z-index:10;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;  
    font-size:22px;  
    font-weight:700;
}

.logo img{
    width:32px;  
    height:32px;
    object-fit:contain;
    display:block;
}

.navlinks{
    display:flex;
    gap:32px;  
    list-style:none;
}

.navlinks li{
    cursor:pointer;
    transition:0.3s;
    color:#d8d8d8;
    font-size:14px;  
}

.navlinks li:hover{
    color:#58c96a;
}

.navIcons{
    display:flex;
    align-items:center;
    gap:18px;  
    font-size:18px;  
}

.searchIcon:hover{
    color:#58c96a;
    transform: scale(1.2); 
}

.bagIcon:hover{
    color:#58c96a;
    transform: scale(1.2); 
}

.menuIcon:hover{
    color:#58c96a;
    transform: scale(1.2); 
}

@media (max-width:768px){

    .navbar{
        padding:14px 20px;
    }

    .navlinks{
        display:none;
    }

    .logo{
        font-size:20px;
    }

    .navIcons{
        gap:16px;
        font-size:18px;
    }
}
