.topselling {
  padding: 60px; 
}

.plantsgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;  
  padding-top: 50px; 
}

.plantcard {
  display: flex;          
  flex-direction: column;  
  background: rgba(255,255,255,0.07);
  border: 1px solid rgba(243,239,239,0.445);
  border-radius: 22px;
  padding: 18px;
  backdrop-filter: blur(10px);
  overflow: visible;
  position: relative;
  min-height: 380px;  
}

.plantcard:hover {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(243,239,239,0.445);
  border-radius:22px; 
  padding: 18px; 
  backdrop-filter: blur(10px);
  overflow: visible; 
  position: relative;

}

.plantCardImg {
  width: 100%;
  height: 220px;  
  border-radius: 12px;  
  margin-bottom: 14px;  
  object-fit: contain;
  margin-top: -60px;  
}
.plantCardImg:hover{
  width: 110%;
  height: 250px;  
  border-radius: 12px;  
  margin-bottom: 14px;  
  object-fit: contain;
  margin-top: -60px;  
}


.plantcard h4 {
  font-size: 16px;  
  font-weight: 600;
  margin-bottom: 8px; 
}

.plantcard p {
  font-size: 13px;  
  color: #c8c5c5;
  line-height: 1.6;
  margin-bottom: 14px; 
  flex: 1; 
}

.plantcardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto; 
}

.plantcardBottom span {
  font-size: 16px;  
  font-weight: 600;
  flex: 1;     
}

.plantcardBottom button {
  padding: 7px 12px;  
  border-radius: 8px;  
  border: 1px solid rgba(255, 255, 255, 0.896);
  background: transparent;
  color: white;
  font-size: 14px;  
  cursor: pointer;
}

.plantcardBottom button:hover {
  border: 1px solid white;
  transform: scale(1.4);
}

.sellWrap{
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px; 
}

.sellWrap .sectionTitle{
  margin-bottom: 0; 
}

.cornerFrame {
  position: absolute;
  width: 44px;  
  height: 44px;
}

.cornerTopRight {
  top: -6px;  
  right: -10px;  
}

.cornerBottomLeft {
  bottom: -6px;  
  left: -10px; 
}

@media (max-width: 1024px) and (min-width: 601px) {
  .topselling {
    padding: 48px 32px;
  }

  .plantsgrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .topselling {
    padding: 40px 20px;
  }

  .plantsgrid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .plantCardImg {
    height: 200px;
  }
}