.trends {
  padding: 60px; 
  overflow: visible; 
}

.trendyplants {
  display: flex;
  align-items: center;
  background:rgba(255,255,255,0.07);
  border: 1px solid rgba(243, 239, 239, 0.445); 
  border-radius: 60px;  
  padding: 40px 40px 60px 16px;  
  margin-bottom: 24px;  
  gap: 32px; 
  overflow: visible; 
  position: relative;
  backdrop-filter:blur(10px);
}

.trendyplants.reverse {
  margin: 70px 0px 0px 0px;  
  flex-direction: row-reverse;
  padding: 40px 40px 60px 16px;  
}

.plantImg {
  width: 340px;  
  height: 340px; 
  border-radius: 14px; 
  flex-shrink: 0;
  object-fit: contain;
  margin-top: -70px;  
  margin-bottom: -16px;  
  filter: drop-shadow(0 10px 30px rgba(0,0,0,0.6));
}

.carddata h3 {
  font-size: 20px; 
  font-weight: 600;
  margin-bottom: 12px;  
}

.carddata p {
  color: #b0b0b0;
  font-size: 14px;  
  line-height: 1.7;
  margin-bottom: 14px; 
}

.carddata span {
  font-size: 18px;  
  font-weight: 600;
  display: block;
  margin-bottom: 16px;  
}

.cardbtns {
  display: flex;
  gap: 12px;  
  align-items: center;
}

.exploreBtn {
  padding: 8px 22px;  
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  color: white;
  font-size: 14px;  
}

.exploreBtn:hover {
  transform: scale(1.2);
  border:1px solid white;
}

.cartbtn {
  padding: 8px 12px;  
  border-radius: 8px;  
  border: 1px solid rgba(255, 255, 255, 0.677);
  background: transparent;
  color: white;
  font-size: 14px;  
}

.cartbtn:hover{
  transform: scale(1.2);
  border:1px solid white;
}

@media (max-width:768px){

    .trends{
        padding:40px 20px;
    }

    .trendyplants,
    .trendyplants.reverse{
        flex-direction:column;
        border-radius:30px;
        padding:30px 20px;
        text-align:center;
    }

    .plantImg{
        width:100%;
        height:240px;  
        margin-top:0;
    }

    .cardbtns{
        justify-content:center;
    }
}
